
.vs/PatronModèle/v16/.suo

.vs/ProjectSettings.json

.vs/slnx.sqlite

.vs/VSWorkspaceState.json

TP1/Tp1/.vs/Tp1/v16/Server/sqlite3/storage.ide

TP1/Tp1/.vs/Tp1/v16/Server/sqlite3/storage.ide-shm

TP1/Tp1/.vs/Tp1/v16/Server/sqlite3/storage.ide-wal

TP1/Tp1/obj/Release/netcoreapp3.0/Tp1.AssemblyInfo.cs

TP1/Tp1/obj/Release/netcoreapp3.0/Tp1.AssemblyInfoInputs.cache

TP1/Tp1/obj/Release/netcoreapp3.0/Tp1.assets.cache

TP1/Tp1/.vs/Tp1/DesignTimeBuild/.dtbcache

TP1/Tp1/.vs/Tp1/v16/.suo

TP1/Tp1/obj/Debug/netcoreapp3.0/Tp1.assets.cache

TP1/Tp1/obj/Debug/netcoreapp3.0/Tp1.csprojAssemblyReference.cache

TP1/Tp1/obj/project.assets.json

TP1/Tp1/obj/Tp1.csproj.nuget.cache

TP1/Tp1/obj/Tp1.csproj.nuget.dgspec.json

TP1/Tp1/obj/Tp1.csproj.nuget.g.props
